body {
    background-color: #f2fdff;
    font-family: sans-serif;
    color: #101935;
}
.different-font {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
li {
    color: #564787;
}
a {
    text-decoration: none;
}
#profile-picture {
    width: 200px;
    float: left;
    margin-left: 10px;
}
.description {
    margin-bottom: 400px;
}
h1 {
    text-align: center;
}