body {
    background-color: #f2fdff;
    font-family: sans-serif;
    color: #101935;
}
.different-font {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
li {
    color: #564787;
}
a {
    text-decoration: none;
}
#profile-picture {
    width: 200px;
    margin-left: 10px;
    border-radius: 50%;
}
.description-left {
    float: left;
}
.description-right {
    margin-top: 70px;
    float: right;
}
.about {
    clear: both;
}
h1 {
    text-align: center;
}